p {
  font-size: 14px;
  color: #fff;
}

h3 {
  color: #fff;
  font-size: 18px;
}

.App {
  background-color: #EEEEEE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  padding: 20px;
}

.card-list {
  display:  grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
}

.card {
  display:  flex;
  flex-direction: column;
  height: 300px;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background-color:  #393E46;
}

.card-picture {
  height: 250px;
  background-size: cover;
  background-position: center;
}

.card-desc {
  padding: 5px;
}

.card-year {
  position:  absolute;
  top: 5%;
  right: 5%;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 10px;
  background-color:  #fff;
  color: #000;
}

.select {
  margin: 30px 0px;
  padding: 15px;
  border-radius: 20px;
}
